body {
	background-image: url("../img/fondo.png");
	color: darkblue;
	margin: 0;
}

#contenedor {
	width: 90%;
	max-width: 960px;
	margin: 20px auto;
	padding: 1em;
	background: lightyellow;
	border-radius: 0.5em;
}

header {
	text-align: center;
}

h1, h2, h3 {
	background-color: cyan;
	border: 0.1em solid darkblue;
	font-family: "Arvo", serif;
	text-align: center;
	padding: 0.4em;
	border-radius: 0.5em;
}

nav {
	text-align: center;
	margin-bottom: 1.8em;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav li {
	display: inline-block;
	margin: 0.3em;
}

nav a {
	background-color: lightblue;
	padding: 0.5em;
	border-radius: 0.5em;
	border: 0.2em solid darkblue;
	text-decoration: none;
	font-weight: bold;
}

nav a:hover {
	background-color: #c47c2e;
}

a:link {
	color: darkblue;
}

a:visited {
	color: black;
}

a:hover {
	color: cyan;
}

a:active {
	color: yellow;
}

section {
	background-color: rgba(245, 222, 179, 0.95);
	padding: 0.5em;
	border-radius: 0.5em;
}

p {
	color: black;
	padding: 0.5em;
	line-height: 1.2;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0.5em auto;
	border-radius: 0.5em;
}

iframe {
	display: block;
	margin: 0.5em auto;
	max-width: 100%;
}

footer {
	background-color: #c47c2e;
	text-align: center;
	border-radius: 0.5em;
}